<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD : NodeJS Express MongoDB </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="bg-info">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="background-color:ghostwhite; margin-top: 20px; padding: 20px;">
      {{{body}}}
    </div>
  </div>
</body>
</html>